/*==============================
          Colors
==============================*/
/*******************************
          Elements
*******************************/
* {
  box-sizing: border-box; }

body {
  font-family: 'Roboto', sans-serif;
  background-color: #27ae60; }

h1 {
  font-size: 36px; }

h2 {
  font-size: 32px; }

main {
  margin: 0 10px; }

/*******************************
          Header
*******************************/
.main-header {
  height: 120px;
  background-color: #2f3241;
  align-items: center;
  box-shadow: 0 1px 22px 4px #465765; }

.logo img {
  display: inline-block;
  margin-top: 6px;
  height: 100px; }

.logo h1 {
  display: inline-block;
  color: #FF6400;
  margin-left: 10px; }

.tag-line2 {
  display: none;
  color: #FF6400; }

/*==============================
  Chat room
==============================*/
#sidebar-nav {
  display: flex;
  align-items: center;
  justify-content: space-around; }
  #sidebar-nav li {
    width: 100%;
    text-align: center; }
  #sidebar-nav li.active {
    background: #465765; }

#chat {
  color: #465765;
  margin-top: 8px; }
  #chat .well {
    height: 420px; }
  #chat ul {
    list-style-type: none;
    padding: 0; }
  #chat form {
    display: flex;
    justify-content: space-between;
    width: 100%; }
    #chat form .form-group {
      width: 75%; }
    #chat form input {
      width: 100%; }

#send-message {
  margin: 0;
  width: 75px; }

/*==============================
  Player Score/High Scores
==============================*/
.player-score,
.high-scores {
  margin: 20px 0;
  text-align: center; }

.scores th {
  text-align: center;
  margin: 10px 0; }

tr {
  border-color: none; }

/*==============================
  Category Lists
==============================*/
.side-bar {
  background: #303b44;
  height: 540px;
  color: #ecf0f1;
  box-shadow: 1px 0 22px 4px #465765; }

.trivia-rounds {
  display: none;
  margin: 10px 0; }

.question-list li {
  display: block;
  font-size: 14px;
  line-height: 1.5;
  margin: 10px 0; }

.glyphicon-question-sign {
  color: #FF7000; }

.glyphicon-ok-sign {
  color: #31f75f; }

.glyphicon-remove-sign {
  color: #f41844; }

/*==============================
  Filter Options
==============================*/
label {
  margin: 10px auto;
  font-weight: 500; }

select {
  display: block;
  width: 100%;
  color: #465765; }

button {
  margin: 20px auto; }

/*==============================
  Timer
==============================*/
.timer-area {
  display: none;
  margin: auto;
  margin-top: -10px;
  max-width: 180px;
  border: 10px solid #465765;
  box-shadow: 1px 0 18px 4px #465765;
  border-radius: 0 0 25px 25px;
  background: #303b44; }

#timer {
  display: block;
  margin: 20px 0;
  font-size: 36px;
  color: #ecf0f1; }

/*==============================
  Trivia Card
==============================*/
.flex-container {
  display: flex;
  align-items: center;
  justify-content: space-between; }

.trivia-card {
  margin: 50px auto;
  max-width: 540px;
  background-color: #ecf0f1;
  border: 1px solid #465765;
  box-shadow: 0 0 22px 4px #465765;
  border-radius: 5px;
  padding: 10px; }

.trivia-card hr {
  margin-top: 0;
  border-color: #465765; }

.trivia-difficulty {
  margin-bottom: 10px;
  font-size: 20px; }

.trivia-category {
  margin-bottom: 10px;
  font-style: italic; }

.trivia-question {
  margin-bottom: 15px; }

.trivia-answers {
  margin: 10px auto; }

.trivia-answers input {
  margin: 5px auto; }

label {
  width: 100%; }

input[type="radio"] {
  margin-top: 0; }

input[type="radio"]:checked + label {
  background: red; }

/*==============================
  Alerts
==============================*/
.alert-correct {
  text-align: center;
  max-width: 540px;
  margin: 0 auto;
  display: none; }

.alert-wrong {
  text-align: center;
  max-width: 540px;
  margin: 0 auto;
  background: #f41844;
  color: #ecf0f1;
  display: none; }

/*==============================
  Final Score
==============================*/
.final-score {
  margin: 20px auto;
  width: 420px;
  background-color: #ecf0f1;
  border: 1px solid #465765;
  box-shadow: 0 0 22px 4px #465765;
  border-radius: 5px;
  padding: 10px; }

.final-score hr {
  margin-top: 0;
  border-color: #465765; }

.final-score p {
  margin: 5px auto; }

/*==============================
  Footer
==============================*/
.main-footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  height: 120px;
  background-color: #2f3241;
  box-shadow: 0 1px 22px 4px #465765;
  align-items: center;
  justify-content: flex-end; }

.legal {
  color: #ecf0f1;
  margin-right: 20px; }

/*==============================
  Animations
==============================*/
.spinner {
  width: 50px;
  height: 50px;
  display: inline-block;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto; }

.inner {
  width: 50px;
  height: 50px;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 100%;
  border: 6px solid transparent;
  box-sizing: border-box; }

.inner:nth-child(1) {
  border-bottom-color: #FF6400;
  animation: rotateleft 4s ease infinite; }

.inner:nth-child(3) {
  border-top-color: #ecf0f1;
  animation: rotateleft 4s ease infinite; }

.inner:nth-child(2) {
  border-right-color: #2278F0;
  animation: rotateright 4s ease infinite; }

.inner:nth-child(4) {
  border-left-color: #DA39EF;
  animation: rotateright 4s ease infinite; }

@keyframes rotateleft {
  from {
    transform: rotate(360deg); }
  to {
    transform: rotate(0deg); } }

@keyframes rotateright {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }
